.scoreboard {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: #111111;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
}

.play-button {
    width: 300px;
    border: 0px;
    background: none;
    color: #42b3f4;
    margin-top: 50px;
    font-size: 40px;
    cursor: pointer;
    letter-spacing: 10px;
    text-shadow: 0 0 0.2em #8F7;
	margin: 0 auto;
}