@use "./helpers/animate";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
	font-family: 'Science Gothic', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
		'slnt' 0,
		'wdth' 100,
		'CTRS' 0;
	color: #fff;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/close-encounters-of-the-third-kind-devils-tower-michael-ver-sprill.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
}

main {
	border: 5px solid #000;
	height: 100vh;
}

.intro {
	margin-top: 50px;
}

h1 {
	text-align: center;
	font-weight: 400;
}

h2 {
	text-align: center;
	font-weight: 300;
}

h3 {
	text-align: center;
	font-weight: 200;
}
