@use "./helpers/animate";
@use "./helpers/variables" as vars;
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
	font-family: 'Science Gothic', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
		'slnt' 0,
		'wdth' 100,
		'CTRS' 0;
	color: vars.$white;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: vars.$white;

	#bg-video {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}

	h1 {
		text-align: center;
		font-weight: 480;
		font-size: 50px;
		margin-bottom: 0px;
	}

	h2 {
		text-align: center;
		font-weight: 300;
		margin-top: 0px;
	}

	h3 {
		text-align: center;
		font-weight: 200;
	}
}
